@page
@model termProject_201811010.Pages.Post.EditModel

@{
    ViewData["Title"] = "Edit";
}

<style>
    main {
        margin: 0 auto;
        text-align: center;
    }

    .formContainer {
        display: flex;
        justify-content: center;
        align-content: center;
        margin: 0 auto;
        max-width: 400px;
        padding: 30px;
        background: white;
        border: 2px medium green;
        border-radius: 0.3rem;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    }

    .form-group {
        margin-bottom: 10px;
    }

    a {
        text-decoration: none;
    }
    .btn2 {
        background: linear-gradient(144deg,#111a7a, #42f368 50%,#00DDEB);
        border-color: transparent;
        font-size: 1rem;
        text-transform: capitalize;
        margin: 0 0.5rem;
        letter-spacing: 1px;
        padding: 0.375rem 0.75rem;
        color: white;
        cursor: pointer;
        font-weight: 600;
        border-radius: 0.4rem;
        color: white;
        transition: all linear 0.7s;
    }
        .btn2:hover {
            background: linear-gradient(144deg,#0aff28, #27362a 50%,#00DDEB);
            color: blue;
        }
</style>


<main>
<h1>Edit a post</h1>
<hr />
</main>


<div class="formContainer">
    <form method="post" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="UserPost.Id" />

        <div class="form-group">
            <label asp-for="UserPost.Message" class="control-label"></label>
            <input asp-for="UserPost.Message" class="form-control" />
            <span asp-validation-for="UserPost.Message" class="text-danger"></span>
        </div>
        <img src="data:image;base64,@System.Convert.ToBase64String(Model.Picture)" width="80" height="80" />
        <div class="form-group">
            <input asp-for="FileUpload.FormFile" type="file" class="form-control"><br>
            <label asp-for="FileUpload.FormFile"></label>
            <span asp-validation-for="FileUpload.FormFile" class="text-danger"></span>

        </div>
        <div class="form-group">
            <input type="submit" value="Save" class="btn2" />
            <button class="btn2">
                <a asp-page="./Index">Back to List</a>
            </button>
        </div>
    </form>
</div>



@*<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UserPost.Id" />

            <div class="form-group">
                <label asp-for="UserPost.Message" class="control-label"></label>
                <input asp-for="UserPost.Message" class="form-control" />
                <span asp-validation-for="UserPost.Message" class="text-danger"></span>
            </div>
            <img src="data:image;base64,@System.Convert.ToBase64String(Model.Picture)" width="80" height="80" />
            <div class="form-group">
                <input asp-for="FileUpload.FormFile" type="file" class="form-control"><br>
                <label asp-for="FileUpload.FormFile"></label>
                <span asp-validation-for="FileUpload.FormFile" class="text-danger"></span>

            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>*@

@*<div>
    <a asp-page="./Index">Back to List</a>
</div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
