@page
@model termProject_201811010.Areas.Identity.Pages.Account.Manage.PictureModel
@{

}

@*<form id="picture-form" method="post" enctype="multipart/form-data">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-floating">
            Current profile photo <br>

            <img src=@System.Convert.ToBase64String(Model.Picture) width="80" height="80" />


        </div>
        <div class="form-group">
            <label asp-for="FileUpload.FormFile"></label>
            <input asp-for="FileUpload.FormFile" type="file" class="form-control"><br>
        </div>
        <button id="change-picture-button" type="submit" asp-page-handler="Picture"
            class="w-100 btn btn-lg btn-primary">Change profile photo</button>
    </form>*@



@{
    ViewData["Title"] = "Change Profile Photo";
    ViewData["ActivePage"] = ManageNavPages.ProfilePicture;
}

<style>
    .photo{
        width: 100px;
        height: 100px;
        border-radius: 0.3rem;
    }
</style>

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="picture-form" method="post" enctype="multipart/form-data">
            
            <div class="form-floating">
                Current profile photo <br>
                @*<img src="data:image;base64,@System.Convert.ToBase64String(Model.Picture)" width="80" height="80" />*@
                <img class="photo" src="data:image;base64,@System.Convert.ToBase64String(Model.Picture)" />
            </div>
            <div class="form-group">
                <label asp-for="FileUpload.FormFile"></label>
                <input asp-for="FileUpload.FormFile" type="file" class="form-control"><br>
            </div>
            <button id="change-picture-button" type="submit" asp-page-handler="Picture" class="w-100 btn btn-lg btn-primary">Change profile photo</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
   
}
