@page
@model PictureModel
@{
    ViewData["Title"] = "Change Picture";
}

<form id="picture-form" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-floating">
        Current profile photo <br>
        <img src="data:image;base64,@System.Convert.ToBase64String(Model.Picture)" width="80" height="80" />
    </div>
    <div class="form-group">
        <label asp-for="FileUpload.FormFile"></label>
        <input asp-for="FileUpload.FormFile" type="file" class="form-control"><br>
    </div>
    <button id="change-picture-button" type="submit" asp-page-handler="Picture" class="w-100 btn btn-lg btn-primary">Change profile photo</button>
</form>
