@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<style>

    body {
        background: rgb(29,253,251);
        background: linear-gradient(83deg, rgba(29,253,251,1) 0%, rgba(252,69,239,1) 100%);
        /*background: url("https://images.unsplash.com/photo-1513542789411-b6a5d4f31634?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774");*/
    }
    .mainPage{
        margin-top: 100px;
        color: white;
    }
    .main2 {
        max-width: 500px;
        display: flex;
        justify-content: center;
        align-content: center;
        margin: 0 auto;
        margin-top: 20px;
        text-align: center;
    }
    h4{
        font-weight: 300;
    }
    
</style>
<main class="mainPage">
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <h4>Canbookram</h4>
    </div>
    <main class="main2">
        <h3>Canbookram lets you communicate with people you know and share what's going on in your life.</h3>
    </main>
</main>