@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<style>
    body {
    }
    .main {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0 auto;
        margin-top: 120px;
        max-width: 500px;
        padding: 20px;
        border-radius: 0.5rem;
        background-color: #fff;
        box-shadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
    }
</style>

<div class="main">
    <p>A Canbookram Page is a public Canbookram account that can be used by brands, organizations, artists and public figures. Businesses use Pages to share contact information, post updates, share content, promote events and releases, and — perhaps most importantly — connect with their Canbookram audiences.</p>
</div>
